* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue:  #5dade2;
    --green:  #2ecc71;
    --red:  #e74c3c;
    --orange:  #f39c12;
    --gray: #414141;
    --light-gray: #ccc;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--gray);
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}

.container .sidebar {
    grid-column: 1;
    padding: 1rem;
    background-color: #414141;
    height: 100%;
}

.container .sidebar .search-container {
    width: 100%;
}

.sidebar .search-container .search-input {
    width: 100%;
    margin: 1.8rem 0;
}

.search-container .search-input input {
    width: 100%;
    padding: .5rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ccc;
}

.container .sidebar .planning-infos {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
    color: #fff;
    margin: 2rem 0;
}

.sidebar .planning-infos .planning-info {
    background-color: rgba(204, 204, 204, .5);
    border-radius: 10px;
    padding: .5rem;
    position: relative;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 70% 30%;
    cursor: pointer;
}

.sidebar .planning-infos .planning-info.active:first-child {
    background-color: var(--blue);
}

.sidebar .planning-infos .planning-info.active:nth-child(2) {
    background-color: var(--green);
}

.sidebar .planning-infos .planning-info.active:nth-child(3) {
    background-color: var(--orange);
}

.sidebar .planning-infos .planning-info.active:last-child {
    background-color: var(--red);
}

.planning-infos .planning-info :first-child {
    width: 30px;
    height: 30px;
    background-color: coral;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1;
    grid-column: 1;
}

.planning-infos .planning-info:first-child :first-child {
    background-color: var(--blue);
}

.planning-infos .planning-info:nth-child(2) :first-child {
    background-color: var(--green);
}

.planning-infos .planning-info:nth-child(3) :first-child {
    background-color: var(--orange);
}

.planning-infos .planning-info:last-child :first-child {
    background-color: var(--red);
}

.planning-infos .planning-info .num {
    font-size: 1.3rem;
    font-weight: bold;
    grid-row: 1;
    grid-column: 2;
    position: absolute;
    top: -5px;
    right: .5rem;
}

.planning-info .planning-info-name {
    grid-row: 2;
    grid-column: 1;
}

.planning-infos .planning-info :last-child {
    font-size: .8rem;
    grid-row: 2;
    grid-column: 2;
    position: absolute;
    right: 2.8rem;
    bottom: 1rem;
}

.sidebar .selected-planning-container select {
    width: 100%;
    padding: .5rem;
    border: none;
    border-radius: 10px;
}

.main-content {
    grid-column: 2;
    height: 100%;
}

.main-content .header {
    width: 100%;
    height: 150px;
    background-color: #000;
    color: #FFF;
    padding: 0 1rem;
    font-size: 1.3rem;
    position: relative;
}

.main-content .header .planning-name-icon {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.main-content .header .planning-name {
    font-weight: bold;
}

.main-content .header .switch-display-mode {
    width: 70px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.main-content .header .switch-display-mode::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #414141;
    transition: all .5s;
}

.main-content .header .switch-display-mode.active::before {
    left: 55%;
    background-color: #FFF;
}

.main-content .courses-number {
    position: absolute;
    bottom: .5rem;
    left: 1rem;
    font-size: 1rem;
    opacity: .9;
}

.main-content .schedule {
    height: auto;
}

.main-content .schedule .schedule_hour {
    padding: .5rem 0;
    display: grid;
    grid-template-columns: 200px repeat(10, 1fr);
    font-size: 1.1rem;
    background-color: #ccc;
}

.main-content .schedule .schedule_hour :first-child {
    grid-column: 2;
}

.main-content .schedule .schedule_day {
    display: grid;
    grid-template-rows: repeat(6, 120px);
    gap: 5px;
    color: #FFF;
}

.main-content .schedule .schedule_day > div {
    display: grid;
    grid-template-columns: 200px repeat(10, 1fr);
    align-items: center;
    border-radius: 15px;
}

.schedule_day > div {
    background-color: #f2ffcd3d;
    height: 100%;
}

.schedule_day > div > :first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 1.3rem;
    width: 95%;
    padding: 0 .5rem;
    border-radius: 15px;
}

.schedule_day > div > :first-child > i {
    color: var(--green);
    cursor: pointer;
}

.schedule_day > div .planning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 4 / span 2;
    background-color: var(--orange);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: relative;
}

.schedule_day > div .planning :nth-child(2) {
    font-size: 1.4rem;
    font-weight: bold;
    margin: .5rem 0;
}

.schedule_day > div .planning .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--red);
}

.modal-container {
    position: absolute;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    background-color: rgba(0, 0, 0, .2);
    backdrop-filter: blur(4px);
    opacity: 0;
}

.modal-container.active {
    opacity: 1;
    animation: appear .5s ease-in-out forwards;
}

@keyframes appear {
    0% {
        top: -100%;
    } 40% {
        top: 3%;
    } 80% {
        top: -3%;
    } 100% {
        top: 0;
    }
}

.modal-container .modal {
    width: 1200px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 15% 80% 15%;
}

.modal-container .modal .modal-title {
    background-color: #000;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-container .modal .modal-body {
    width: 100%;
    background-color: rgba(65, 65, 65, .8);
}

.modal-body .modal-body-section {
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-body .modal-body-section > div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
}

.modal-body-section > div > select {
    width: 40%;
    padding: .3rem 0;
    font-size: 1.1rem;
}

.modal-body p.error {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: var(--red);
    display: none;
}

.modal-container .modal .modal-footer {
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal .modal-footer :first-child {
    margin-right: 2rem;
}

.modal .modal-footer button {
    padding: .3rem 2rem;
    border: none;
    background-color: #FFF;
    font-size: 1.1rem;
    cursor: pointer;
}